body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 70px; 
}

input:not([type="checkbox"]),
button:not(#navbar-btn)  {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

.categorie {
    margin-bottom: 5px;
}

.tag {
    border: 1px solid #999;
    padding: 2px 6px;
    font-size: 12px;
    margin-right: 4px;
}

.descrizione {
    flex: 1;
    overflow-y: auto;
    border: 1px solid #eee;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 1rem;
}

.indirizzo {
    font-size: 1rem;
}

.map-btn {
    border: 1px solid #000;
    padding: 5px 10px;
    text-decoration: none;
}