{% extends "base.html" %}
{% block content %}

    <div class="cards-container">

    {% for p in posts %}
        {% set p = p %}
        {% set generi_map=generi_map %}
        {% set mostra_aiutante=false %}
        {% set action_url="/accetta" %}
        {% set action_label="Accetta" %}
        {% set action_color="primary" %}
        {% include "_card_template.html" %}
    {% endfor %}

    {% if not posts %}
        <p>Nessuna richiesta disponibile.</p>
    {% endif %}

    </div>

{% endblock %}